node_modules/
.pnpm-store/

# Build outputs
dist/
build/
.next/
out/
coverage/

# Turbo
.turbo/

# Env
.env
.env.local
.env.*.local

# Editor / OS
.DS_Store
.idea/
.vscode/
*.swp

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Prisma generated
**/generated/prisma/

# TS build info
*.tsbuildinfo


vestra_old/